html, body {
    height: 100%;
    width: 100%;
}

#docs {
    min-height: 100%;
    width: 100%;
}

.bd-docs-nav {
    position: relative;
    top: -2px;
    --primary: #fff;
    background-color: #151822;
    height: 110%;
}

.bd-category.is-current .bd-category-name {
    background-color: #006eff;
    border-radius: 0;
}

.bd-name {
    color: white;
}

.bd-category-name:hover {
    background-color: #3c3f41;
    border-radius: 0;
}

.navbar {
    background-color: #262f3e;
}

.navbar-title {
    color: #fff;
}

.bd-docs-main {
    width: 100%;
    padding-bottom: 0;
    position: relative;
    top: 30px;
    left: 50px;
}

.button.is-primary {
    background-color: #006eff;

}

.button.is-primary:hover {
    background-color: rgba(0, 110, 255, 0.87);
}

* {
    margin: 0;
    padding: 0;
}